$font_size: 16px;

$color_black: #000;
$color_dark-grey: #808080;
$color_grey: #b3b3b3;
$color_light-grey:#e6e6e6;
$color_white: #FFF;

$breakpoint_retina: 1200px; // Retina
$breakpoint_desktop: 992px; // Desktop
$breakpoint_tablet: 640px; // Tablet

@mixin breakpoint($point) {
   @if $point == retina {
     @media (min-width: $breakpoint_retina) { @content ; }
  }
   @else if $point == desktop {
     @media (min-width: $breakpoint_desktop) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: $breakpoint_tablet) { @content ; }
  }
}
