@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box; }

html {
  background-color: #b3b3b3;
  font-size: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

p {
  font-size: inherit;
  line-height: 100%; }

.text-input {
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 0.25rem;
  color: #000;
  padding: 1rem 2rem; }

.button {
  background-color: #808080;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem; }

.button_hidden {
  display: none; }

.button_slim {
  background-color: transparent;
  color: #000;
  transition: 0.1s; }
  .button_slim:hover {
    background-color: rgba(0, 0, 0, 0.25); }
