@import '../../variables';

.card {
  background-color: $color_light-grey;
  padding: 2rem;
  margin: 0.5rem auto;
  max-width: 600px;
  transition: 0.5s;
  width: 100%;

  &:hover {
    box-shadow: 0 0 2rem 0 $color_black-50;
    margin: 1rem auto;

    .card:first-of-type {
      margin: 0 auto 1rem auto;
    }
  }
}
