@import '../../variables';

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 10vh auto 0;
  max-width: 600px;
  min-height: 75vmin;
  padding: 1px;
  width: 90%;
  z-index: 2;

  @include breakpoint(tablet) {
    width: 75%;
  }

  @include breakpoint(desktop) {
    width: 50%;
  }
}

.page_white {
  background-color: $color_white;
  box-shadow: 0 0 0.5rem 0 $color_black;
}

.page__title {
  font-size: 30px;
  text-align: center;
  padding: 3rem 0 1rem;
}
