@import '../../variables';

.add-button {
  background-color: $color_dark-grey;
  border-radius: 2.5rem;
  box-shadow: 0 0 0.5rem 0 $color_black;
  height: 5rem;
  position: relative;
  margin: 0 auto 1rem auto;
  width: 5rem;

  &:before {
    content: '+';
    color: $color_white;
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
