.add-button {
  background-color: #00cc66;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  height: 5rem;
  position: relative;
  margin: 0 auto 1rem auto;
  width: 5rem; }
  .add-button:before {
    content: '+';
    color: #fff;
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
