.create-train-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-train-form__leader {
  margin: 1rem 0 0;
}

.create-train-form__restaurant {
  margin: 1rem 0 0;
}

.create-train-form__start-time {
  margin: 1rem 0 0;
}

.create-train-form__create.button {
  margin: 1rem 0 0;
}

.create-train-form__cancel.button {
  margin: 1rem 0 2rem;
}
